@model Curso.ITDeveloper.Application.ViewModels.PacienteViewModel

@{
    ViewData["Title"] = "Exclusao de Paciente";
}

<div class="row">
    <div class="panel panel-heading">
        <h3>Tem certeza que deseja excluir esse registro?</h3>
    </div>

    <div class="panel panel-body">
        <div>
            <div>
                <partial name="_delete_details" />
            </div>

            <form asp-controller="Paciente" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Excluir Paciente" class="btn btn-danger" />
                <a asp-controller="Paciente" asp-action="Index" class="btn btn-info">Voltar a Lista</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @* Bundle  dataTable *@
    <script src="/bundle/dataTables.min.js"></script>
    <script src="~/bundle/dashboard.min.js"></script>
}